.contour{
    background-color: #071D60;
    color: white;
    padding:1%;
}

#barre{
    background-image: url(../img/background.jpg);
    color: white;
    size: 10px;
    text-align: center;
    padding:6% ;
}
.texte{
    display: inline-block;
    max-width: 40%;
}

.greyheadcat{
}

footer{
    text-align: center;
}
.imagecat{
    display:inline-block;
    max-width: 30%;
}
<!-- #id balise -->